<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生コース情報一覧</title>
</head>
<body>
<h1>受講生コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>受講生情報ID</th>
    <th>名前</th>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>受講終了予定日</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="studentDetail : ${studentsCourseList}">
   <tr th:each="course : ${studentDetail.studentsCourses}">
     <td th:text="${course.id}">1</td>
     <td th:text="${course.studentId}">2</td>
     <td th:text="${studentDetail.student.fullName}">山田太郎</td>
     <td th:text="${course.course}">Java</td>
     <td th:text="${#temporals.format(course.startDate, 'yyyy-MM-dd')}">20260615</td>
     <td th:text="${#temporals.format(course.expectedEndDate, 'yyyy-MM-dd')}">20270614</td>
   </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>